/* class */
.first-letter{
    font-size: 1.5em;
    vertical-align: baseline;
    display: inline;
    color: var(--theme-dark);
}

.initials{
    font-size: 2em;
    vertical-align: baseline;
    display: inline;
    color: transparent;
    -webkit-text-stroke: 0.05em var(--theme-dark);
}