/*
目次
    *
    variable setting
    tag
    class
    id
    header
    footer
*/

/* variable setting */
:root {
    /* jsで上書きされる */
    --theme-dark: #000000;
    --theme-light: #ffffff;
    --theme-tp-dark: rgba(0, 0, 0, 0.8);
    --theme-tp-light: rgba(255, 255, 255, 0.8);
    --theme-text: #000000;
    --theme-bg: #ffffff;
    --theme-tp-bg: rgba(255, 255, 255, 0.4);
    --accent-color: #ff0000;
    --icon-image-dark: url('/images/icons/icon-blue.png');
    --icon-image-light: url('/images/icons/icon-white.png');
    /* jsで上書きされない */
    --theme-font: Courier, monospace, serif;
    --normal-font: Arial, sans-serif, serif;
}

/* id */
#header-top {
    position: relative;
    text-align: center;
}

#header-top h1{
    margin: 0em;
}

#bg-image {
    position: fixed;
    top: 0em;
    left: 0em;
    width: 100vw;
    height: 100vh;
    background-image: var(--icon-image-dark);
    background-size: min(45vw, 40vh);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -200;
}

#language-switcher {
    position: absolute;
    right: 1em;
    bottom: 0.8em;
}

/* class */
.accent {
    color: var(--accent-color);
}

.box {
    background-color: var(--theme-tp-light);
    color: var(--theme-text);
    margin: 0.5em auto;
    padding: 0.3em 1.5em 0.8em 1.5em;
    box-shadow: 0.1em 0.1em 0.2em var(--theme-tp-dark);
    border-radius: 0.1em;
    text-shadow: none;
}

.box .box-title a {
    text-decoration: none;
    color: inherit;
}

.box hr {
    margin-top: 0.1em;
}

.first-letter {
    font-size: 1.5em;
    vertical-align: baseline;
    display: inline;
    color: var(--theme-dark);
}

.initials {
    font-size: 2em;
    vertical-align: baseline;
    display: inline;
    color: transparent;
    -webkit-text-stroke: 0.05em var(--theme-dark);
}

.with-dark-icon {
    display: inline-flex;
    align-items: center;
    padding-left: 1.0em; /* 左側に余白を確保（背景画像がはみ出ないように） */
    background-image: var(--icon-image-dark);
    background-repeat: no-repeat;
    background-position: 0.1em center;
    background-size: 0.8em 0.8em; /* 必要に応じてサイズ調整 */
}

.with-light-icon {
    display: inline-flex;
    align-items: center;
    padding-left: 1.0em; /* 左側に余白を確保（背景画像がはみ出ないように） */
    background-image: var(--icon-image-light);
    background-repeat: no-repeat;
    background-position: 0.1em center;
    background-size: 0.8em 0.8em; /* 必要に応じてサイズ調整 */
}

/* tag */
a {
    color: var(--theme-dark);
}

button {
    font-family: var(--theme-font);
    background-color: var(--theme-bg);
    color: var(--theme-dark);
    min-width: 5.5em;
    height: 2em;
    margin: 0 0.2em;
    border: 2px solid var(--theme-dark);
    border-radius: 3px;
    font-size: 0.8em;
}

button:hover{
    background-color: var(--theme-dark);
    color: var(--theme-bg);
}

body {
    margin: 0em;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding: 4em;
    background-color: var(--theme-dark);
}

html {
    font-size: 16px;
}

h1, h2 {
    margin: 0.2em;
    font-family: var(--theme-font);
}

h3 {
    margin: 0em;
    color: var(--theme-text);
}

header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    font-family: var(--theme-font);
    margin-top: 0em; 
    padding: 2em 0em 0em 0em;
    color: var(--theme-dark);
    background-color: var(--theme-bg);
}

header a {
    text-decoration: none;
    color: inherit;
}

header hr {
    border: none;
    height: 2px;
    background-color: var(--theme-dark);
}

header #site-nav {
    padding: 0.2em;
    margin: 0em;
    background-color: var(--theme-dark);
    color: var(--theme-bg);
}

header #site-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0em;
    padding: 0em;
}

header #site-nav ul li{
    margin: 0em min(1vw, 1em);
}

hr {
    border: none;
    height: 1px;
    background-color: var(--theme-text);
}

main {
    color: var(--normal-text);
    text-shadow:
        0em 0em 0.3em var(--theme-bg),
        0.1em 0.1em 0.3em var(--theme-bg),
        0.1em -0.1em 0.3em var(--theme-bg),
        -0.1em 0.1em 0.3em var(--theme-bg),
        -0.1em -0.1em 0.3em var(--theme-bg);
    margin: 2em 4em;
    flex: 1;
}