<!DOCTYPE html>
<html>
<!-- KEY:head-en -->
<head>
    <meta charset="UTF-8">
    <link rel="icon" href={{siteIcon}}>
    <link rel="stylesheet" href="/css/style.css">
    <script type="module" src="/js/main.js" defer></script>
    <title>Site Title</title>
</head>
<!-- ENDKEY -->
<body data-tags="">
<main>
<div class="content">
    <h3 class="content-title"><!-- content title --></h3>
    <hr>
    <div class="content-text">
        <!-- content texts -->
    </div>
</div>
</main>
</body>
</html>